.button {
  border: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 10px;
  width: 468px;
  height: 48px;
  background: #512689;
  border-radius: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 136.19%;
  color: #FFFFFF;
  margin: 24px 0 16px 0;
  padding: 0;
  transition: cubic-bezier(0.19, 1, 0.22, 1);
}

.button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.button:disabled {
  background: rgba(103, 99, 99, 0.8)
}

.mobile {
  border: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 10px;
  width: 343px;
  height: 48px;
  background: #512689;
  border-radius: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 136.19%;
  color: #FFFFFF;
  margin: 24px 0 16px 0;
  padding: 0;
  transition: cubic-bezier(0.19, 1, 0.22, 1);
}

.mobile:disabled {
  background: rgba(103, 99, 99, 0.8)
}

.mobile:hover {
  cursor: pointer;
  opacity: 0.7;
}
